<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>徐肆的个人博客临时首页</title>
</head>



<body>
<div class="main" style="min-height: 300px;text-align: center;margin: 150px auto">
    <p>这是我的测试页面的首页,前端还没有内容,后端接口请点击一下链接.</p>
    <a href="http://xusi.site:52014/swagger-ui.html">接口 swagger 界面</a>
</div>



<div style="width:300px;margin:0 auto; padding:20px 0;">
    <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44090402441106" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img th:src="@{../static/images/beian.png}" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">粤公网安备 44090402441106号</p></a>
</div>

</body>

</html>